<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h2>TweetAnalyzer</h2><hr>
        <p>
            {% if user.is_authenticated %}
                <img src="http://api.twitter.com/1/users/profile_image/{{ user.username }}.json" align="middle"/>&nbsp&nbsp
                <a href="/home/">Home</a>&nbsp&nbsp
                <a href="/accounts/logout/">Logout</a>&nbsp&nbsp
                <a href="/subscribe/form/">Subscribe</a>&nbsp&nbsp
            {% else %}
                <a href="/twitter/login/"><img src="{{ MEDIA_URL }}images/sign-in-with-twitter-d.png"></a>
            {% endif %}
            
        </p><hr/>
        {% block content %}{% endblock %}
    </body>
</html>
